<style>
    :root {
        --width: 720px;
        --font-main: "Open Sans", sans-serif;
        --font-secondary: "Open Sans", sans-serif;
        --font-scale: 1em;
        --background-color: #fff;
        --heading-color: #222;
        --text-color: #444;
        --link-color: #673ab7;
        --visited-color: #8b6fcb;
        --code-background-color: #f2f2f2;
        --code-color: #222;
        --blockquote-color: #222;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background-color: #12012e;
            --heading-color: #eee;
            --text-color: #ddd;
            --link-color: #a486fc;
            --visited-color: #8370b0;
            --code-background-color: #000;
            --code-color: #ddd;
            --blockquote-color: #ccc;
        }
    }

    header h2, header nav {
        font-family: monospace !important;
    }

    header h2 {
        font-size: 1.4rem !important;
		line-height: 1rem;
    }

    header nav {
        line-height: 2rem;
    }

    header nav a {
        font-size: 1rem !important;
    }

    figcaption {
        font-style: italic;
        margin-top: 0.5rem;
    }

    .post-title {
        line-height: 110%;
		margin-bottom: .25rem;
    }

    .post-date {
        margin-top: 0px;
    }

    /* Force code block background to be transparent */
    div.highlight pre {
        background-color: transparent !important;
    }
</style>